source https://dotnet.myget.org/F/dotnet-core/api/v3/index.json
source https://www.nuget.org/api/v2/

nuget NUnit 2.6.4
nuget NUnit.Runners 2.6.4
nuget RavenDB.Client
nuget RavenDB.Bundles.UniqueConstraints
nuget RavenDB.Tests.Helpers
nuget FAKE
nuget RavenDB.Client.UniqueConstraints
nuget With
nuget Lucene.Net
